name: Linux build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TESTS: Off

jobs:
  archlinux:
    name: Arch Linux
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - name: Install git
        run: |
          pacman -Syy --noconfirm
          pacman -S git --noconfirm

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/archlinux-depends.sh

      - name: Build
        run: |
          ./ci/archlinux-build.sh

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ubuntu_version: [ 'jammy', 'mantic', 'noble' ]
    container:
      image: ubuntu:${{matrix.ubuntu_version}}
    steps:
      - name: Install git
        run: |
          apt-get update -qq
          apt-get install -qq --force-yes git

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/ubuntu-depends.sh

      - name: Build
        run: |
          ./ci/ubuntu-build.sh
