name: Linux build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TESTS: Off

jobs:
  archlinux:
    name: Arch Linux
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - name: Install git
        run: |
          pacman -Syy --noconfirm
          pacman -S git --noconfirm

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/archlinux-depends.sh

      - name: Build
        run: |
          ./ci/archlinux-build.sh

  fedora:
    name: Fedora
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        fedora_version: [ '38', '39', '40' ]
    container:
      image: fedora:${{matrix.fedora_version}}
    steps:
      - name: Install git
        run: |
          dnf -y install git

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/fedora-depends.sh

      - name: Build
        run: |
          ./ci/fedora-build.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fedora-${{matrix.fedora_version}}
          path: |
            /github/home/rpmbuild/RPMS/x86_64/*.rpm

  debian:
    name: Debian
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        debian_version: [ 'bookworm' ]
    container:
      image: debian:${{matrix.debian_version}}
    steps:
      - name: Install git
        run: |
          apt-get update -qq
          apt-get install -qq --force-yes git

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/ubuntu-depends.sh

      - name: Build
        run: |
          ./ci/ubuntu-build.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: debian-${{matrix.debian_version}}
          path: deb

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ubuntu_version: [ 'jammy', 'mantic', 'noble' ]
    container:
      image: ubuntu:${{matrix.ubuntu_version}}
    steps:
      - name: Install git
        run: |
          apt-get update -qq
          apt-get install -qq --force-yes git

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        run: |
          ./ci/ubuntu-depends.sh

      - name: Build
        run: |
          ./ci/ubuntu-build.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-${{matrix.ubuntu_version}}
          path: deb
