name: Update translations

on:
  workflow_dispatch:

jobs:
  update-translations:
    if: github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && github.event.pull_request.user.login == 'weblate')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run lupdate
        run: |
          ./ci/translations.sh

      - name: Setup gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.BOT_GPG_SIGN_KEY }}
          passphrase: ${{ secrets.BOT_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: '[translations] Update sources'
          branch: update-translations
          delete-branch: true
          sign-commits: true
          committer: "${{ secrets.BOT_USERNAME }} <${{ secrets.BOT_EMAIL }}>"
          author: "${{ secrets.BOT_USERNAME }} <${{ secrets.BOT_EMAIL }}>"
          title: '[translations] Update sources'
          body: 'This PR was created automatically to update translation sources after Weblate changes.'
          add-paths: |
            ./data/translations/*.ts
